<!doctype html>
<html lang="sk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{template "title" .}} | Entertainment</title>

  <link rel="stylesheet" href="/static/app.css">
</head>
<body class="flex flex-col md:flex-row max-h-screen h-screen bg-gray-900 text-white">
  <div class="flex-shrink-0 w-full md:w-1/6 p-5 md:p-10 mb-2 md:mb-0">
    <a href="/">
      <img src="/static/entertainment.svg" alt="Entertainment">
    </a>

    <div class="mt-8 gap-y-4 flex flex-col">
      <a href="/queue/" class="font-light text-xl">Queue</a>
      <a href="/library/" class="font-light text-xl">Library</a>
      <a href="/playlists/" class="font-light text-xl">Playlists</a>
      <a href="/telegram/" class="font-light text-xl">Telegram Pairing</a>
    </div>
  </div>

  <div class="flex flex-col flex-1 bg-gray-800">
    <div class="p-5 md:p-10 overflow-y-auto mb-12">
      {{template "main" .}}
    </div>

    <div class="mt-auto px-5 py-5 md:px-10 md:py-8 border-t border-gray-700 flex overflow-x-auto items-center gap-6">
      <div class="flex items-center gap-4" id="js-pb-wrapper">
        <i data-feather="play" id="js-pb-play" class="cursor-pointer hidden"></i>
        <i data-feather="pause" id="js-pb-pause" class="cursor-pointer"></i>
        <i data-feather="skip-forward" id="js-pb-skip" class="cursor-pointer"></i>
        <i data-feather="square" id="js-pb-stop" class="cursor-pointer"></i>
      </div>
      <div class="text-md md:text-xl font-bold whitespace-nowrap" id="js-current-name">...</div>
    </div>
  </div>

  <script src="/static/mustache.min.js"></script>
  <script src="/static/feather.min.js"></script>
  <script src="/static/app/playback_controls.js"></script>
  <script>feather.replace()</script>
</body>
</html>
